$debug-border-width: 0px;
$padding: 5px;

.searchSuggestions {

    width: 468px;
    min-height: 150px;

    .searchSuggestionListHeader {
        padding: $padding;
    }

    .searchSuggestionList {
        list-style-type: none;
        background-color: transparent;
        padding: $padding;
        margin: 0px;

        li {
            border: solid $debug-border-width red;
            margin: 0px;
            padding: 3px;
            display: flex;

            .icon {
                margin-right: 10px;
                border: solid $debug-border-width #cc00cc;
            }

            .text {
                color: #444444;
                border: solid $debug-border-width #cc00cc;
                width: 220px;
            }

            .button {
                border: solid $debug-border-width #cc00cc;
                text-align: right;
                width: 200px;
            }
        }
    }
}